@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin transition($value) {
    transition: all $value ease-in-out;
    -webkit-transition: all $value ease-in-out;
    -moz-transition: all $value ease-in-out;
    -ms-transition: all $value ease-in-out;
    -o-transition: all $value ease-in-out;
}

@mixin border-radius($value) {
    border-radius: $value;
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
}

@mixin transform($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

$noyon:#FF42A5;

img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.container {
    padding: 0px 60px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    box-sizing: border-box;
}

.btn {
    margin-top: 20px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;

    a {
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
}

* {
    margin: 0;
    padding: 0;
    @include transition(.5s);
    font-family: 'Work Sans', sans-serif;

}

.center {
    text-align: center;
}



body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 2.2222222222222222e+55px;
}


a {
    text-decoration: none;

}

li {
    list-style-type: none;
}

button {
    a {
        text-decoration: none;
    }
}

.color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    color: #00000000;
}


.color_2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
}


p,
.items {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
}


@media screen and (max-width: 599px) {
    .container {
        padding: 15px;
    }

    .Header_section {
        padding: 30px 0px;

        nav {
            flex-direction: column;

            .had_img {
                display: flex;
                align-items: center;

                img {
                    width: 100px;
                }
            }

            .had_title {
                * {
                    margin-top: 10px;
                }

                ul {
                    flex-direction: column;
                }
            }

            .Youtube_icon {
                margin-top: 15px;

                * {
                    margin-top: 0px;
                }
            }
        }

    }

    .Bennar_section {

        .ban_con {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;

            .btn {
                padding: 15px 30px !important;
                display: flex;
                gap: 20px;
            }

            .ban_title {
                order: 1;

                .ban_hot {
                    margin-top: 20px;
                    color: #0B0223;
                    font-size: 40px;
                    font-weight: 600;
                    text-transform: uppercase;
                }

                .ban_hon {
                    font-size: 87px;
                    font-weight: 800;
                    text-transform: uppercase;
                    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
                    background-clip: text;
                    color: #00000000;
                }
            }

        }
    }


    .Gamer_section {
        margin-top: 50px;

        .gam_con {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: space-between;

            * {
                text-align: center;
            }
        }
    }

    .Online_Games_section {

        .bors {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            margin-top: 25px;
            .borx{
                margin-top: 15px;
            }
        }
    }

    .Instantly_section {
        margin-top: 100px;

        .Installs {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            justify-content: space-between;

            .int_decs {
                display: flex;
                justify-content: end;
            }

            .sab_conten {
                max-width: 400px;
                text-align: right;
            }

            .inst_imgs {
                display: flex;
                justify-content: end;

                .img_main {
                    position: relative;
                    width: 70%;

                    .man_img {
                        width: 100%;
                    }

                    .img_sub {
                        display: flex;
                        align-items: end;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        top: 20%;
                        right: 25%;

                        .sub_img {
                            width: 50%;
                            height: 55%;
                        }
                    }
                }
            }
        }

        #Installs {
            justify-content: space-between;
            grid-template-columns: repeat(1, 1fr);
            margin-top: 200px;

            .inst_imgs {
                margin-top: 50px;
                order: 1;
            }
        }
    }

    .Carear_section {
    margin-top: 200px;
    max-width: 100%;
    background-color: #FF42A5;

    .careers_containen {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .career_desc {
            display: flex;
            margin-left: 0px;
            max-width: 730px;
            align-items: center;

            .listed_feture {
                margin-top: 40px;
                max-width: 340px;
                .items{
                    display: flex;
                    justify-content: space-between;
                    font-size: 15px;
                }
            }

            .sec_desc {
                font-size: 14px;
                line-height: 30px;
            }

            * {
                color: #ffffff;
            }

            .sec_desc {
                margin-top: 30px;
            }
        }
    }
}

.Footer_section {
    .career_content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 0px;
        background-color: #0B0223;
        * {
            color: #ffffff;
            margin-top: 30px;
        }

        .had_img {
            margin-top: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100px;
            }

            h1 {
                color: #ffffff;
                font-weight: 800;
                font-size: 50px;
            }
        }

        .fo_manu,
        .fo_social_link,
        .fo_imp_links {
            display: flex;

            text-align: center;

            .fo_link {
                font-size: 11px;
                margin-left: 40px;
                font-weight: 600;
                color: #ffffff;
            }
        }

        .fo_imp_links {
            .fo_link {
                font-size: 20px;
            }

        }

        .fo_social_link {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                margin-left: 30px;
                font-size: 50px;
            }
        }

        .fo_link,
        i:hover {
            color: $noyon;
        }
    }
}
}